{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>Following Posts</h1>

    {% for post in posts_following %}

    <div class = "allpost">
        <a id="post_user" href="{% url 'profile' post.user.id %}">{{post.user.username}}</a><br>
        <span id="post" data-id="{{post.id}}"></span><br>
        <b id="post_content">{{post.content}}</b>
        <p>{{post.timestamp}}</p><span id="likes"></span>
        <p id="likes_para">Likes: {{post.likes}}</p>
    </div>

    {% empty %}
        <p> No posts </p>

    {% endfor %}

    {% if posts_following.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if posts_following.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_following.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if posts_following.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts_following.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% block script %}
        <script src="{% static 'network/edit.js' %}"></script>
    {% endblock %}

{% endblock %}
