{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>Profile</h1>

<!-- for some reason link to stylesheet is not working and id="newpost" has no effect-->
<!-- Solved. Needed to disable cache in Chrome -->
    <div class="newpost">
        <h3>{{ profile_user.username }}</h3><br>
        <p>Followers: {{ followers_count }} Following: {{ following_count }}</p><br>
        {% if current_user.id == profile_user.id %}
            <br><br>
        {% else %}
            <form action = "{% url 'profile' profile_user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="toggle" value="toggle_follow">{{ button_name }}</button>
            </form>
        {% endif %}
    </div>
    <hr>
    {% for post in user_posts %}

    <div class = "allpost">
        <p id="post_user">{{post.user.username}}</p>
        <span id="post" data-id="{{post.id}}"></span><br>
        <b id="post_content">{{post.content}}</b>
        <p>{{post.timestamp}}</p><span id="likes"></span>
        <p id="likes_para">Likes: {{post.likes}}</p>
    </div>

    {% empty %}
        <p> No posts </p>

    {% endfor %}

    {% if user_posts.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if user_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ user_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if user_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ user_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% block script %}
        <script src="{% static 'network/edit.js' %}"></script>
    {% endblock %}

{% endblock %}
